[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"] }
pyppeteer = "*"
requests = "*"
aiohttp = "*"
beautifulsoup4 = "*"
sqlalchemy = "*"
sqlmodel = "*"
alembic = "*"
python-decouple = "*"
psycopg-binary = "*"
psycopg2-binary = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.12"
